* {
  padding:0;
  margin:0;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 160%;
  color: #999;
  padding-top: 2%;
}

h2 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

span {
  padding: 0 5%;
}

p {
  font-size: 100%;
  color: #333;
  line-height: 150%;
}

a {
  color: #0d7798;
  text-decoration: none;
  margin-top: 1.5%;
  font-size: 110%;
  display: block;
}

li {
  font-size: 100%;
  color: #333;
  line-height: 150%;
}

.hidden {
  display:none;
}

.core-selected {
  font-weight: normal;
}

.icons {
  padding: 25%;
}

.menuItems {
  margin: 0 0 0 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

#name {
  font-size: 100%;
  font-weight: 700;
  display: inline;
}

#role {
  font-size: 65%;
  font-weight: 300;
  font-style: italic;
}

#navheader {
  background-color: #56ba89;
}

#bioPic {
  margin: 8% 0 0 0;
  height: 30%;
  width: 30%;
}

#main {
  padding: 0 2%;
}

#home {
  padding-top: 2%;
}

#map {
  display: block;
  height: 100%;
  margin: 0 0.5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding: 0 0 5% 0;
}
